.news
  padding: 87px 0 72px
  background-color: change-color($light-color, $lightness: 95%, $alpha: 0.55)
  &__title
    position: absolute
    padding: 13px 54px
    margin: 0
    top: -116px
    left: -32px
  &-block
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__item
    max-width: 379px
    margin-bottom: 66px
  &__image
    max-width: 377px
    height: 279px
    margin-bottom: 26px
  &__heading
    display: inline-block
    margin: 0
    margin-bottom: 14px
    margin-right: 53px
    font-size: 20px
    text-transform: uppercase
    +bold
    &-2
      margin-right: 65px
  &__date
    display: inline-block
    margin: 0
    font-size: 16px
    font-weight: 300
    text-transform: uppercase
    span
      display: inline-block
      width: 25px
      height: 25px
      line-height: 25px
      text-align: center
      background-color: $main-color
      +semibold
  &__text
    max-width: 323px
    margin: 0
    font-size: 18px
    line-height: 28px
    opacity: 0.83
  &__button
    display: block
    margin: 0 auto
    padding: 18px 42px 17px 39px
    font-size: 20px
    text-transform: uppercase
    letter-spacing: 0.2px

@media (min-width: 992px)
  .news
    &__item
      &:hover
        .news__image
          opacity: 0.7
        .news__heading, .news__text
          text-decoration: underline


@media (max-width: 1200px)
  .news 
    &-block
      justify-content: space-around

@media (max-width: 768px)
  .news
    &__title
      left: -10px
      font-size: 24px
    &__button 
      font-size: 14px

@media (max-width: 576px)
  .news
    padding: 70px 0 45px
    &__title
      top: -90px
      font-size: 18px
    &__item
      margin-bottom: 40px
    &__image
      max-width: 275px
      height: 204px
      margin-bottom: 26px
    &__heading
      margin-right: 35px
      font-size: 16px
    &__date
      font-size: 14px
    &__text
      font-size: 14px
      line-height: 1.4
