.request
  &-block
    display: flex
    align-items: center
    height: 666px
    flex-basis: 50%
  &__form
    max-width: 397px
    padding: 51px 46px 58px 46px
    background-color: $light-color
    box-shadow: 0 0 22px -4px
  &__title
    margin: 0
    margin-bottom: 50px
    font-size: 20px
    text-transform: uppercase
    +bold
    text-align: center
    span
      color: $main-color
  &__input
    max-width: 305px
    width: 100%
    padding-bottom: 6px
    margin-bottom: 40px
  &__button
    max-width: 305px
    width: 100%
    padding: 22px 57px 22px 57px
    font-size: 20px
    text-transform: uppercase

.map
  position: absolute  